body {
  background-color: #45171B !important;
  font-family: 'Space Mono', monospace;
  color: #ffffff;
  text-align: center;
  margin: 250px;
  padding: 0;
}

.container {
  margin-top: 100px;
}

.intro {
  font-size: 40px;
  margin-bottom: 20px;
}

.btn {
  padding: 15px 20px;
  font-size: 20px;
}

.letter {
  display: none;
  text-align: center
    width: 170px; 
  border: 2px solid #ffffff;
  padding: 10px;
  word-wrap: break-word;
  margin: 50px 50px 50px 50px;
  font-size: 18px;
  line-height: 2.0;
}